extends ../../layout.pug
block contenido
  h1=imagen.titulo
  img("src+/public/imagenes/"+#{imagen._id}.#{imagen.extension})
  if(typeof imagen.creator != "undefined")
    p Por (#{imagen.creator.email})
