extends ./layout.pug
block contenido
  form(action="/users", method="POST")
    div(class="form-group")
      label(for="email") E-mail:       
      input(type="text", name="email", placeholder="E-mail" class="form-control")
    div(class="form-group")
      label(for="password") Contraseña: 
      input(type="password" name="password" class="form-control")
      laber(for="password_confirmation") confirma tu contraseña:
      input(type="password" name="password_confirmation" class="form-control")
    div
      input(type="submit" value="Enviar" class="btn")